{% extends "base.html" %}
{% load static%}
{% block content %}

<link href="{% static 'stylesheets/call_for_paper.css'%}" rel="stylesheet" type="text/css">

<div class="container-xl m-1 ">

    <div class="widget-title text-primary p-2">
        <h2 class="banner-heading"><strong>Call For Paper</strong></h2>
        <div class="borderbd"></div>
    </div>



    <fieldset class="d-flex flex-column justify-content-center fieldset-container m-0 " >
        <legend class="legend text-uppercase text-primary"><strong> Call For Paper</strong> </legend>
      
        <div class="text-justify">

            <div class="college-info-link ">
                <div >
                    <p class="reponsive-text-1 bold-text" >Smt. Kashibai Navale College Of Engineering, Vadagaon : &nbsp;&nbsp;
                        <a class="  bold-text " href = " http://cms.sinhgad.edu/sinhgad_engineering_institutes/skncoe_vadgaon/institute_details.aspx" >
                            skncoe_vadgaon
                        </a>
                    </p>
                    
                    <p class="reponsive-text-1 bold-text " >Email Id : &nbsp;&nbsp;
                        <a class="  bold-text " href = " http://cms.sinhgad.edu/sinhgad_engineering_institutes/skncoe_vadgaon/institute_details.aspx" >
                            skncoe@gmail.com
                        </a>
                    </p>
                    <p class="reponsive-text-1 bold-text" >Easychair Link : &nbsp;&nbsp;
                        <a class="  bold-text " href = " http://cms.sinhgad.edu/sinhgad_engineering_institutes/skncoe_vadgaon/institute_details.aspx" >
                            https://easychair.org/conferences/?conf=cpgcon2020
                        </a>
                    </p>
             </div>
            </div>

            <p class=" reponsive-text-h5 text-center  ">Papers are invited from PG students and Research Scholars in the following domains but not limited to</p>

            <div class="table table-responsive">
                <div class="p-0 m-0 pt-3 d-flex justify-content-center">
                    <table class="table-bordered table-condensed reponsive-text-1">
                        <tr class="bg-theme text-light bg-primary text-center"><td><strong>Tack Number</strong></td>  <td><strong>   Domain	</strong> </td></tr>
        
                        <tr><td>	1.   </td>  <td>Soft Computing, Artificial intelligence & Machine Learning	</td></tr>
                        <tr><td>	2.   </td>  <td>Data Mining and Information Retrieval	</td></tr>
                        <tr><td>	3.   </td>  <td>Big Data and Data  Analytics	</td></tr>
                        <tr><td>	4.   </td>  <td>Internet of Things	</td></tr>
                        <tr><td>	5.   </td>  <td>Security and Privacy	</td></tr>
                        <tr><td>	6.   </td>  <td>Distributed Computing/Parallel computing	</td></tr>
                        <tr><td>	7.   </td>  <td>Image Processing/ Signal Processing/ Computer Vision	</td></tr>
                        <tr><td>	8.   </td>  <td>Networking and Cloud Computing	</td></tr>
                        <tr><td>	9.   </td>  <td>Mobile and Wireless Communication	</td></tr>
                        <tr><td>	10.  </td>  <td> System Software and Compilers	</td></tr>
                        <tr><td>	11.  </td>  <td> Software Engineering and Architecture	</td></tr>
                        <tr><td>	12.  </td>  <td> Bioinformatics	</td></tr>
                        <tr><td>	13.  </td>  <td> Others	</td></tr>
                        <tr><td>	14.  </td>  <td> Research Scholar (Ph.D.)	</td></tr>
        
                    </table>
                 </div>
            </div>
        </div>
    </fieldset>
</div>

{% endblock content%}