{% extends 'base.html'%}
{% load static%}

{% block content%}


<link href="{% static 'stylesheets/committee.css'%}" rel="stylesheet" type="text/css">

<div class="container-xl" >
    <div class="widget-title text-primary p-3">
        <h2 class="banner-heading"><strong>Committee</strong></h2>
        <div class="borderbd"></div>
    </div>


<!-- chief parton -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> Chief Patron </p>
        </div>
        <div class="pannel-body bg-light">
            
            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Prof. M. N. Navale </p>
                    <p class="reponsive-text-0 p-0 m-0">
                        Founder, President, Sinhgad Institutes.<br>
                    </p>
                </div>
            </div>

            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Dr. (Mrs.) Sunanda M. Navale</p>
                    <p class="reponsive-text-0 p-0 m-0">Founder Secretary, Sinhgad Institutes.
                        <br>
                        </p>
                </div>
            </div>

           
            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Mr. Rohit M. Navale</p>
                    <p class="reponsive-text-0 p-0 m-0">Vice President (HR), Sinhgad Institutes.
                        <br>
                    </p>
                </div>
            </div>

            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Mrs. Rachana Navale-Ashtekar</p>
                    <p class="reponsive-text-0 p-0 m-0">Vice President (Admin.), Sinhgad Institutes.<br>
                    </p>
                </div>
            </div>

           
        </div>

    </div>



    


<!-- PATRON -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> Patron </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Nitin R. Karmalkar</p>
                        <p class="reponsive-text-0 p-0 m-0">Vice Chancellor, SPPU, Pune</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Manohar G. Chaskar</p>
                        <p class="reponsive-text-0 p-0 m-0">Dean, Faculty of Science and
                            Technology, SPPU, Pune. </p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Arvind V. Deshpande</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal, SKNCOE, Pune</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Varsha H. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0">Chairman, Board of Studies
                            (Computer Engineering), SPPU, Pune</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-12 col-md-12 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Kishor R. Borole</p>
                        <p class="reponsive-text-0 p-0 m-0"> Vice Principal, SKNCOE, Pune</p>
                    </div>
        
                </div>
            </div> 

        </div>  

    </div>




<!--EXECUTIVE COMMITTE  -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase">EXECUTIVE COMMITTEE </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. D. Lokhande</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal, SCOE Pune</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. D. Markande</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal SITS, Narhe</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. K. P. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal SAE Kondhawa</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. V. V. Dixit</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal RMDSSOE, Warje</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. P. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal, NBNSSOE Pune</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. M. S. Gaikawad</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal, SIT, Lonavala</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. M. S. Rohokale</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal, SKNSITS, Lonavala</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. N. B. Navale</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal, SCOE, Solapur</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-12 col-md-12 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. K. J. Karande</p>
                        <p class="reponsive-text-0 p-0 m-0">Principal, SKNSCOE, Korti</p>
                    </div>
                </div>
            </div>
    


        </div>

    </div>



    
    

<!-- CONVENER -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class="pannel-header-title text-light text-uppercase"> CONVENER</p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Parikshit N. Mahalle</p>
                        <p class="reponsive-text-0 p-0 m-0 text-center">Professor and Head, Computer Engineering,<br>
                            SKNCOE Vadgaon(BK), Pune.<br>
                            BOS Member, Computer Engineering, SPPU Pune.<br>
                        </p>
                    </div>
                </div>
            </div>
    
        </div>

    </div>





<!-- Co-Cordinator -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> CO-ORDINATORS </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Vinod. V. Kimbahune</p>
                        <p class="reponsive-text-0 p-0 m-0">(9370344923)</p>
                    </div>
                </div>
    

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Vaishali S. Deshmukh</p>
                        <p class="reponsive-text-0 p-0 m-0">(9850547388)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





<!-- ADVISORY COMMITTEE -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> ADVISORY COMMITTEE </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. G.K. Kharate</p>
                        <p class="reponsive-text-0 p-0 m-0">Ex-Dean, FoE, SPPU, Pune</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Aditya Abhyankar</p>
                        <p class="reponsive-text-0 p-0 m-0">Professor and Head, Dept of
                            Technology, SPPU, Pune.</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. G. Bhirud</p>
                        <p class="reponsive-text-0 p-0 m-0">Professor, VJTI, Mumbai</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. S. Sane</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. M. L. Dhore</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. R. V. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. (Mrs.) S. A. Itkar</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Pramod D. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. P. M. Yawalkar</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. (Mrs.) Gitanjali Kale</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Mr. R Venkateswaran</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Mr. Girish Khilari</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Sachin Lodha</p>
                        <p class="reponsive-text-0 p-0 m-0">Member BOS-COMP,SPPU</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. A. Joshi</p>
                        <p class="reponsive-text-0 p-0 m-0">Ex-BOS chairman, SPPU, Pune</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. G. V. Garje</p>
                        <p class="reponsive-text-0 p-0 m-0">Ex– Chairman, BoS, SPPU, Pune.</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Madhavi Pradhan</p>
                        <p class="reponsive-text-0 p-0 m-0"> Member, BoS_IT, SPPU</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Lalit Patil,</p>
                        <p class="reponsive-text-0 p-0 m-0">Member, BoS, IT, SPPU</p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Emmanuel</p>
                        <p class="reponsive-text-0 p-0 m-0">Member, BoS, IT, SPPU</p>
                        
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. A. Mahajan</p>
                        <p class="reponsive-text-0 p-0 m-0">Member, BoS, IT, SPPU</p>
                    </div>
                </div>
            </div>


        </div>

    </div>    






    
<!-- TECHNICAL COMMITTE -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> TECHNICAL COMMITTEE </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Mahesh Wankhade</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(Comp), SCOE, Pune</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Geeta Navale</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(Comp), SITS, Narhe.</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Balasaheb Gite</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(Comp), SAE, Kondhawa</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Veena Lomate</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(Comp), RMDSSOE, Pune</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Sachin D. Babar</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(Comp), SIT, Lonavala, Pune</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Ganesh Kadam</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(Comp), SKNSIT, Lonavala.</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Amol Dumane</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(Comp), NBSSSOE, Pune</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Ganesh Pathak</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), SCOE, Pune</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Ravindra Borhade</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), SKNCOE, Pune.</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Aparna Adsul</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), SITS, Narhe</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Abhay Adapanawar</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), SAE,Kondhawa</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Sweta Kale</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), RMDSSOE, Warje</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Kothari Satyendra</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), SKNSITS, Lonavala</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. R. M. Samant</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), NBNSSOE, Pune</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Rakesh Badodekar</p>
                        <p class="reponsive-text-0 p-0 m-0">HoD(IT), SIT, Lonavala</p>
                    </div>
                </div>
            </div>

    
        </div>

    </div>





<!-- ORGANIZATION COMMITTEE -->
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> ORGANIZATION COMMITTEE </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. Shafi Pathan</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. K. N. Honwadkar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. S. Teli</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S. P. Pingat</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. P. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. S. P. Kosbatwar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. D. T. Bodake</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Pramod Patil</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S.Y .Kulkarni</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. J. N. Nandimath</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Prasad Chaudhari</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. D. H. Kulkarni</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. R. M. Indoriya</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. R. A. Satao</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S. P. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. V. S. Deshmukh</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S. N. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. A. Sonewar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. L. K. Ahire</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. Pankaj Chandre</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. M. S. Joshi</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. A. A Deshmukh</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. A. A. Bhise</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. R. A. Kudale</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. M. B. Tamboli</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Dr. G. R. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. D. R. Dhaygude</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. S. Desai</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>



            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. G. Y. Gunjal</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. N. Railkar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>



            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. R. B. Kale</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. S. Raskar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>



            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. V. V. Bandgar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. A. M. Wade</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. D. A. Nevase</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. D. Kad</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. R. P. Lunkad</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S. M. Patil</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>



            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. R. P. Pathak</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S. L. Tanay</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. B. Chaudhari</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. V.S. Paithankar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>



            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. M. A. Ansari</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S. A. Kumbhare</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>



            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P.R. Chandre</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. P. A. Chadchankar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. S. S. Bhong</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>

                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Prof. M. P. Divakar</p>
                        <p class="reponsive-text-0 p-0 m-0"></p>
                    </div>
                </div>
            </div>


        </div>

    </div>    



   
</div>
{% endblock content%}