{% extends 'base.html'%}
{% load static%}

{% block content%}


<link href="{% static 'stylesheets/committee.css'%}" rel="stylesheet" type="text/css">

<div class="container-xl" >
    <div class="widget-title text-primary p-5">
        <h2 class="banner-heading"><strong>Committee</strong></h2>
        <div class="borderbd"></div>
    </div>




    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> Cheif Patron </p>
        </div>
        <div class="pannel-body bg-light">
            
            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Shri. Balasaheb Bhausaheb Thorat</p>
                    <p class="reponsive-text-0 p-0 m-0">Revenue Minister,
                        Maharashtra State President,<br>
                        AVS &SV Sanstha, Sangamner<br>
                        Society, Pune</p>
                </div>
            </div>

            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Shri. Balasaheb Bhausaheb Thorat</p>
                    <p class="reponsive-text-0 p-0 m-0">Revenue Minister,
                        Maharashtra State President,<br>
                        AVS &SV Sanstha, Sangamner<br>
                        Society, Pune</p>
                </div>
            </div>

            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Shri. Balasaheb Bhausaheb Thorat</p>
                    <p class="reponsive-text-0 p-0 m-0">Revenue Minister,
                        Maharashtra State President,<br>
                        AVS &SV Sanstha, Sangamner<br>
                        Society, Pune</p>
                </div>
            </div>

            <div class=" pannel-element-row-special ">
                <div>
                    <p class=" reponsive-text-h3 p-1 m-0">Hon. Shri. Balasaheb Bhausaheb Thorat</p>
                    <p class="reponsive-text-0 p-0 m-0">Revenue Minister,
                        Maharashtra State President,<br>
                        AVS &SV Sanstha, Sangamner<br>
                        Society, Pune</p>
                </div>
            </div>

           
        </div>

    </div>




    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> Patron </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

    
        </div>

    </div>



    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class="pannel-header-title text-light text-uppercase"> CONVENER</p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

    
        </div>

    </div>



    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> CO-ORDINATORS </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

    
        </div>

    </div>



    
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase">EXECUTIVE COMMITTEE </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

    
        </div>

    </div>


    
    <div class="pannel bg-primary">
        <div class="pannel-header bg-primary">
            <p class=" pannel-header-title text-light text-uppercase"> TECHNICAL ADVISORY COMMITTEE </p>
        </div>
        <div class="pannel-body">

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            
            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>


            <div class=" pannel-element-row row">
                <div class=" pannel-element col-12 col-lg-6 col-md-6 col-sm-12">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
    
                <div class="pannel-element col-12 col-lg-6 col-md-6 col-sm-12 ">
                    <div class=" bg-light">
                        <p class=" reponsive-text-h4 p-0 m-0">Hon. Mr. A. B. Shinde</p>
                        <p class="reponsive-text-0 p-0 m-0">CEO, AVS &SV Sanstha, Sangamner</p>
                    </div>
                </div>
            </div>

    
        </div>

    </div>

   
</div>
{% endblock content%}