{% extends "base.html" %}
{% load static%}
{% block content %}
<link href="{% static 'stylesheets/home.css'%}" rel="stylesheet" >
<div class="container-sm mx-auto mt-5 ">
    <fieldset class="fieldset-container shadow">
        <legend class="legend text-uppercase"><strong>Connect with us</strong></legend>
        <p class=" text-justify m-3 px-2 ">
            <ul class="list-unstyled text-center ">
                <li class="h5 "><strong>Email : </strong>sinhagad@gmail.com</li>
                <li class="h5 "><strong>Prof. A.B.ABCD </strong>(number)</li>
                <li class="h5 "><strong>Prof. A.B.ABCD </strong>(number)</li>
            </ul>
        </p>
    </fieldset>
</div>


{% endblock%}