{% extends "base.html" %}
{% load static%}
{% block content %}
<link href="{% static 'stylesheets/home.css'%}" rel="stylesheet" >
<div class="container-fluid contact-us ">
    <div class="widget-title text-primary p-2">
        <h2 class="banner-heading"><strong>Contact Us</strong></h2>
        <div class="borderbd"></div>
    </div>


    <fieldset class="d-flex flex-column justify-content-center fieldset-container shadow" >
        <legend class="legend text-uppercase"><strong>Connect with us</strong></legend>
        <div class="text-justify ">
         
        </div>
    </fieldset>
</div>
{% endblock%}