{% extends "base.html" %}
{% load static %}
{% block content %}

<link href="{% static 'stylesheets/home.css'%}" rel="stylesheet" >

<div  class="container-fluid p-0" style="z-index: 0;">
    <!-- jumbotron -->
    <div class="container-xl">
        <div class=" container-fluid myjumbotron">
            <div class="row">
                <div class="col-2  jumbotron-logo p-0">
                    <img src="{% static 'logos/sinhgad_logo.jpeg' %}"/>
                </div>
                
                <div class="container  col-8 p-0  ">
                    <p class="text-center text-uppercase jumbotron-title1 text-muted h3 m-0 mt-2 "> sinhgad technical education society's </p>
                    <p class="text-center text-uppercase jumbotron-title2 h1 m-0 mt-2"> smt. kashibai navale college of engineering, pune-411041</p>
                    <p class="text-center text-uppercase jumbotron-title3 h2 text-danger m-0 mt-2 "> Department of computer engineering</p>
                    <p class="text-center text-uppercase jumbotron-title1 text-muted h3  m-0 mt-2"> In Association With </p>
                    <p class="text-center text-uppercase jumbotron-title4 h2 m-0 mt-2">Board of Studies in Computer Engineering</p>
                    <p class="text-center text-uppercase jumbotron-title4 h2 m-0 ">Savitribai Phule Pune University, Pune</p>
                    <p class="text-center text-primary jumbotron-banner-title h1  "><i>" cPGCON 2021 "</i></p>
                </div>
                <div class="col-2 jumbotron-logo p-0" >
                    <img src="{% static 'logos/sppu_logo.png' %}"/>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-column">
                <p class="text-center text-uppercase title-casing jumbotron-title2 h1 m-0 mt-2 text-light bg-primary" > 10<sup>th</sup> post graduate conference for computer engineering</p>
                <p class=" text-center text-center title-casing jumbotron-title2 h1 m-0 mt-2 text-danger  " style="width: 30%; align-self: center; border-radius: 50px; " > 
                    May 7<sup>th</sup>
                    - 8
                    <sup>th</sup>, 2021
                </p>
            </div>
        </div>
    </div>

    <!-- event banner -->
    <div class="container-fluid   mt-5" style="background-color: #f1f1f1">
        <div class="widget-title text-primary">
            <h2 class="banner-heading"><strong>About <span style="text-transform: lowercase !important">c</span>PGCON 2021</strong></h2>
            <div class="borderbd"></div>
        </div>
        <div class="container-xl">
            
            <div class="banner-info-text row ">
                <div class=" d-flex flex-column text-justify col-12 col-lg-7 col-md-12 col-sm-12 col-xs-12 order-last order-lg-first order-md-first order-sm-last">
                    <h3 class="head_left_underline banner-title text-danger">cPGCON 2021</h3>
                    <p class=" lead ">
                        cPGCON 2021 is a Post Graduate Conference, an annual 
                        event for PG students and research scholars, organized by 
                        the Department of Computer Engineering, Smt. Kashibai 
                        Navale College of Engineering, Pune in association with 
                        Board of Studies in Computer Engineering, Savitribai Phule 
                        Pune University. cPGCON2021 will provide a platform to 
                        discuss latest innovations, share experiences and learn new 
                        developments in the various domains. It will work as a forerunner and facilitator for PG students theoretical and practical studies and research scholars will pose their research 
                        work on the frontiers of knowledge and skills in the area.
                    </p>
                </div>
                <div class=" banner-img col-12 col-lg-5 col-md-12 col-sm-12 col-xs-12 order-first  order-lg-last order-md-last order-sm-first ">
                    <img class="img-fluid " src="{% static 'logos/cPGCON .png' %}">
                </div>
            </div>
            
        </div>
        

    </div>

    <!-- central panal -->
    <div class="container-xl p-0">
            <div class="container-fluid row center-panel m-0">
                <!-- information panal -->
                <div class="col-lg-8 col-mid-8 col-sm-12 information-panel ">

                    <div class="d-flex mb-3">
                        <fieldset class="d-flex flex-column justify-content-center fieldset-container " >
                            <legend class="legend text-uppercase text-primary"><strong> About The Institute</strong> </legend>
                            <div class="">
                                <img class="img-fluid" src="{% static 'images/college1.jpg' %}" alt="college_image" width="100%">
                            </div>
                            <div class="text-justify pt-4">
                                <p class=" lead ">
                                    Prof. M. N. Navale has established Sinhgad Technical 
                                    Education Society (STES) in the year 1993 with the aim of 
                                    imparting quality education in the field of Engineering, 
                                    Management, Computer, Pharmacy, Medical Education, 
                                    Physiotherapy, Nursing, Architecture, Hotel Management 
                                    and basic school education. At present, Sinhgad Technical 
                                    Education Society spreads over 13 Campuses, having more 
                                    than 111 Institutes. Nearly 70,000 students are taking 
                                    quality education under the guidance of well qualified 
                                    academic staff<br><br>
                                    STES's Smt. Kashibai Navale College of Engineering 
                                    (SKNCOE) has become synonymous with quality 
                                    Engineering Education. SKNCOE was established in the 
                                    year 2001 offering degree courses in Computer, E & TC, IT, 
                                    Mechanical. All the above courses are approved by All India 
                                    Council of Technical Education (AICTE), New Delhi and affiliated to Savitribai Phule Pune University. SKNCOE has Research Center to pursue Ph.D. in Computer Engineering, 
                                    along with post graduation courses in Computer Engineering. The Institute is Accredited by NAAC


                                   
                                </p>
                            </div>
                        </fieldset>
                    </div>

                    <div class="d-flex mb-3">
                        <fieldset class="d-flex flex-column justify-content-center fieldset-container " >
                            <legend class="legend text-uppercase text-primary"><strong> About The Department</strong> </legend>
                            <div class="">
                                <img class="img-fluid" src="{% static 'images/department.jpg' %}" alt="college_image" width="100%">
                            </div>
                            <div class="text-justify pt-4">
                                <p class="lead">
                                    The Computer Engineering Department started in the year 
                                    2001, with an intake of 60 which has increased to current 
                                    intake of 300. The Department has well qualified and experience faculty and well equipped laboratories, Classrooms 
                                    and Library for imparting the course contents and the 
                                    knowledge beyond PG and Ph.D. in Computer Engineering. 
                                    Currently SKNCOE research center has 58 Research Scholar are pursing research.<br><br>
                                </p>
                            </div>
                        </fieldset>
                    </div>




                    
                 
                </div>

                <!-- side panal -->
                <div class="col-lg-4 col-mid-4 col-sm-12 side-panel ">

                    
                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary ">
                            <h5 class="card-heading-text">Latest News</h5>
                        </div>
                        <div class="card-body " id="marquee">
                            <marquee behavior="scroll" direction="up">
                                <p class=" reponsive-text-0 "><strong>Paper submission starts from :  </strong> 15<sup>th </sup> February 2021</p>
                                <p class=" reponsive-text-0 "><strong>Last date of Paper submission :  </strong> 15<sup>th </sup> March 2021</p>
                                <p class=" reponsive-text-0 "><strong>Review :  </strong> 05<sup>th </sup>April 2021</p>
                                <p class=" reponsive-text-0 "><strong>Camera ready Paper submission :  </strong> 15<sup>th </sup> April 2021</p>
                                <p class=" reponsive-text-0 "><strong>Last date for registration :  </strong> 25<sup>th </sup> April 2021</p>
                                <p class=" reponsive-text-0 "><strong>Date Of conference :  </strong> 7<sup>th </sup> to 8<sup>th</sup> May 2021</p>
                            </marquee>
                        </div>
                    </div>



                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Chief Patron</h5>
                        </div>
                        <div class="card-body">

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/MarutiNavale.jpg' %}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/SunandaNavale.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Dr. (Mrs) S. M. Navale</p>
                                        <p class="id-card-post m-0 ">Founder Secretary, Sinhgad Institutes.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/RohitNavle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Mr. Rohit M. Navale</p>
                                        <p class="id-card-post m-0 ">Vice President (HR), Sinhgad Institutes.
                                            </p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/RachanaNavale.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Mrs. Rachana Navale-Ashtekar</p>
                                        <p class="id-card-post m-0 ">Vice President (Admin.), Sinhgad Institutes.
                                            </p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>



                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Patron</h5>
                        </div>
                        <div class="card-body">

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Dr. Nitin R. Karmalkar</p>
                                        <p class="id-card-post m-0 ">Vice Chancellor, SPPU, Pune.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Dr. Manohar G. Chaskar</p>
                                        <p class="id-card-post m-0 ">Dean, Faculty of Science and 
                                            Technology, SPPU, Pune.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/A.V.Deshpande.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Dr. Arvind V. Deshpande</p>
                                        <p class="id-card-post m-0 ">  Principal, SKNCOE, Pune.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Dr. Varsha H. Patil</p>
                                        <p class="id-card-post m-0 "> Chairman, Board of Studies 
                                            (Computer Engineering), SPPU, Pune.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 ">Dr. Kishor R. Borole</p>
                                        <p class="id-card-post m-0 ">Vice Principal, SKNCOE, Pune.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                      <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Convener</h5>
                        </div>
                        <div class="card-body">

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Dr. Parikshit N. Mahalle</p>
                                        <p class="id-card-post m-0 ">Professor and Head, Computer Engineering,<br> 
                                            SKNCOE Vadgaon(BK), Pune.<br>
                                            BOS Member, Computer Engineering, SPPU Pune.</p>
                                    </div>
                                </div>
                            </div>

                        
                        </div>
                    </div>


                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Coordinators</h5>
                        </div>
                        <div class="card-body ">



                                <div class="id-card">
                                    <div class="row">
                                        <div class="id-card-img col-4" >
                                            <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                        </div>
                                        <!-- <div class="col-1 m-0 p-0"></div> -->
                                        
                                        <div class="id-card-text col-8  flex-column ">
                                            <p class="id-card-name text-danger m-0 " >Dr. Vinod. V. Kimbahune</p>
                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="id-card">
                                    <div class="row">
                                        <div class="id-card-img col-4" >
                                            <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                        </div>
                                        <!-- <div class="col-1 m-0 p-0"></div> -->
                                        
                                        <div class="id-card-text col-8  flex-column ">
                                            <p class="id-card-name text-danger m-0 " >Dr. Vaishali S. Deshmukh</p>
                                     
                                        </div>
                                    </div>
                                </div>


                        </div>
                     </div>
            </div>  
        </div>
    </div>
</div>


{% endblock %}

