{% extends "base.html" %}
{% load static %}
{% block content %}

<link href="{% static 'stylesheets/home.css'%}" rel="stylesheet" >

<div  class="container-fluid p-0" style="z-index: 0;">
    <!-- jumbotron -->
    <div class="container-xl">
        <div class=" container-fluid myjumbotron">
            <div class="row">
                <div class="col-2  jumbotron-logo p-0">
                    <img src="{% static 'logos/sinhgad_logo.jpeg' %}"/>
                </div>
                
                <div class="container  col-8 p-0  ">
                    <p class="text-center text-uppercase jumbotron-title1 text-muted h3 m-0 mt-2 "> sinhgad technical education society's </p>
                    <p class="text-center text-uppercase jumbotron-title2 h1 m-0 mt-2"> smt. kashibai navale college of engineering, vadgaon-411041</p>
                    <p class="text-center text-uppercase jumbotron-title3 h2 text-danger m-0 mt-2 "> Department of computer engineering</p>
                    <p class="text-center text-uppercase jumbotron-title1 text-muted h3  m-0 mt-2"> In Association With </p>
                    <p class="text-center text-uppercase jumbotron-title4 h2 m-0 mt-2">Board of Studies in Computer Engineering</p>
                    <p class="text-center text-uppercase jumbotron-title4 h2 m-0 ">Savitribai Phule Pune University, Pune</p>
                    <p class="text-center text-primary jumbotron-banner-title h1  ">cPGCON 2021</p>
                </div>
                <div class="col-2 jumbotron-logo p-0" >
                    <img src="{% static 'logos/sppu_logo.png' %}"/>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-column">
                <p class="text-center text-uppercase title-casing jumbotron-title2 h1 m-0 mt-2 text-light bg-primary" > 10<sup>th</sup> post graduate conference for computer engineering</p>
                <p class=" text-center text-center title-casing jumbotron-title2 h1 m-0 mt-2 text-danger  " style="width: 30%; align-self: center; border-radius: 50px; " > 
                    7<sup>Th</sup> May - 8<sup>Th</sup> May
                </p>
            </div>
        </div>
    </div>

    <!-- event banner -->
    <div class="container-fluid   mt-5" style="background-color: #f1f1f1">
        <div class="widget-title text-primary">
            <h2 class="banner-heading"><strong>About <span style="text-transform: lowercase !important">c</span>PGCON 2021</strong></h2>
            <div class="borderbd"></div>
        </div>
        <div class="container-xl">
            
            <div class="banner-info-text row ">
                <div class=" d-flex flex-column text-justify col-12 col-lg-7 col-md-12 col-sm-12 col-xs-12 order-last order-lg-first order-md-first order-sm-last">
                    <h3 class="head_left_underline banner-title text-danger">cPGCON 2021</h3>
                    <p class=" lead ">
                        cPGCON-2021 is a Post Graduate Conference, an annual event for PG students and 
                        research scholars, organized by the Department of Computer Engineering, 
                        Smt.Kasibai Navle College Of Engineering, Vadagaon, in association with Board of Studies in
                         Computer Engineering, Savitribai Phule Pune University. This conference will
                         ide a platform to discuss latest innovations, share experience, and learn 
                         new developments in the area. This conference will work as a forerunner
                          and facilitator for the analytical and practical research. PG students 
                          and research scholars present their research work in the frontiers of 
                          domain expertise and innovation. The important objective of this conference 
                          to develop association with world leading knowledge centres and expertise
                    </p>
                </div>
                <div class=" banner-img col-12 col-lg-5 col-md-12 col-sm-12 col-xs-12 order-first  order-lg-last order-md-last order-sm-first ">
                    <img class="img-fluid " src="{% static 'logos/cPGCON .png' %}">
                </div>
            </div>
            
        </div>
        

    </div>

    <!-- central panal -->
    <div class="container-xl p-0">
            <div class="container-fluid row center-panel m-0">
                <!-- information panal -->
                <div class="col-lg-8 col-mid-8 col-sm-12 information-panel ">

                    <div class="d-flex mb-3">
                        <fieldset class="d-flex flex-column justify-content-center fieldset-container " >
                            <legend class="legend text-uppercase text-primary"><strong> About The Institute</strong> </legend>
                            <div class="">
                                <img class="img-fluid" src="{% static 'images/college1.jpg' %}" alt="college_image" width="100%">
                            </div>
                            <div class="text-justify pt-4">
                                <p class=" lead ">
                                    Smt. Kashibai Navale College of Engineering was established in 2001 with 3 branches 
                                    and 180 sanctioned intake. The institute has progressed geometrically in all dimensions 
                                    e.g. scale, quality of education and brand in the field.<br><br>

                                    SKNCOE is approved by AICTE, New Delhi and affiliated to Savitribai Phule Pune University,
                                     Pune.Departments of SKNCOE are accredited by theNational 
                                    Board of Accreditation / NAAC.Team of SKNCOE students has been continuously 
                                    participating and winning in the National Level events like BAJA, SUPRA,EBAJA and ROBOCON 
                                    since last couple of years.SKNCOE has an exclusive E-Cell to promote entrepreneur skills, 
                                    600+ research publications in last four years.<br><br>



                                   
                                </p>
                            </div>
                        </fieldset>
                    </div>

                    <div class="d-flex mb-3">
                        <fieldset class="d-flex flex-column justify-content-center fieldset-container " >
                            <legend class="legend text-uppercase text-primary"><strong> About The Department</strong> </legend>
                            <div class="">
                                <img class="img-fluid" src="{% static 'images/department.jpg' %}" alt="college_image" width="100%">
                            </div>
                            <div class="text-justify pt-4">
                                <p class="lead">
                                    The Department of Computer Engineering was
                                    established in the year 2001 with the affiliation to
                                    University of Pune (now SPPU) and approved by AICTE
                                    with objective of divulging quality education in the
                                    field of Computing.<br><br>

                                    The future belongs to those who are Knowledgeable,
                                    Thinkers & Principled. Guided by these virtues, we run
                                    our programs with Undergraduate with the intake of 60
                                    which eventually has amplied to current intake of 300,
                                    Postgraduate (Computer Engineering) with intake of 18
                                    and Ph.D program in Computer Engineering 41 Ph.D.
                                    scholars pursuing research at SKN COE (Computer)
                                    Research Center.<br><br>

                                    We have our recent graduates & staff studying at London School
                                    of Economics, Stanford University, Carnegie Mellol
                                    University,New York University, Michigan University, IIT,
                                    IMT, MDI,AAU and our faculty are pursuing their
                                    doctoral studies at reputed European universities.
                                    Department of Computer Engineering has
                                    Entrepreneurship Cell through which students get
                                    opportunity for Internship with reputed companies.
                                    The department is committed to foster an effective
                                    teaching/learning environment, personal attention for
                                    academic excellence and promotion for Co-curricular
                                    and Extra-curricular activities for students.<br><br>
                                </p>
                            </div>
                        </fieldset>
                    </div>




                    
                 
                </div>

                <!-- side panal -->
                <div class="col-lg-4 col-mid-4 col-sm-12 side-panel ">

                    
                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary ">
                            <h5 class="card-heading-text">Latest News</h5>
                        </div>
                        <div class="card-body " id="marquee">
                            <marquee behavior="scroll" direction="up">
                                <p class=" reponsive-text-0 "><strong>Registration on EasyChair :  </strong> 16<sup>th </sup>to 31<sup>st</sup> December 2018</p>
                                <p class=" reponsive-text-0 "><strong>Registration on EasyChair :  </strong> 16<sup>th </sup>to 31<sup>st</sup> December 2018</p>
                                <p class=" reponsive-text-0 "><strong>Registration on EasyChair :  </strong> 16<sup>th </sup>to 31<sup>st</sup> December 2018</p>
                                <p class=" reponsive-text-0 "><strong>Registration on EasyChair :  </strong> 16<sup>th </sup>to 31<sup>st</sup> December 2018</p>
                            </marquee>
                        </div>
                    </div>



                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Chief Patron</h5>
                        </div>
                        <div class="card-body">

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/MarutiNavale.jpg' %}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/SunandaNavale.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Dr. (Mrs.) Sunanda M. Navale</p>
                                        <p class="id-card-post m-0 ">Founder Secretary, Sinhgad Institutes.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/RohitNavle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Rohit M. Navale</p>
                                        <p class="id-card-post m-0 ">Vice President (HR), Sinhgad Institutes.
                                            </p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/person/RachanaNavale.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Mrs. Rachana Navale-Ashtekar</p>
                                        <p class="id-card-post m-0 ">Vice President (Admin.), Sinhgad Institutes.
                                            </p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>



                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Patron</h5>
                        </div>
                        <div class="card-body">

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-dangery m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                      <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Convener</h5>
                        </div>
                        <div class="card-body">

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="id-card">
                                <div class="row">
                                    <div class="id-card-img col-4" >
                                        <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                    </div>
                                    <!-- <div class="col-1 m-0 p-0"></div> -->
                                    
                                    <div class="id-card-text col-8  flex-column ">
                                        <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                        <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                    </div>
                                </div>
                            </div>

                        
                        </div>
                    </div>


                    <!--  -->
                    <div class="card " >
                        <div class = "card-heading bg-primary">
                            <h5 class="card-heading-text">Co-Convener</h5>
                        </div>
                        <div class="card-body ">



                                <div class="id-card">
                                    <div class="row">
                                        <div class="id-card-img col-4" >
                                            <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                        </div>
                                        <!-- <div class="col-1 m-0 p-0"></div> -->
                                        
                                        <div class="id-card-text col-8  flex-column ">
                                            <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                            <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="id-card">
                                    <div class="row">
                                        <div class="id-card-img col-4" >
                                            <img src="{% static 'images/navle.jpg'%}" height="70px" width="70px"> 
                                        </div>
                                        <!-- <div class="col-1 m-0 p-0"></div> -->
                                        
                                        <div class="id-card-text col-8  flex-column ">
                                            <p class="id-card-name text-danger m-0 " >Hon. Prof. M. N. Navale</p>
                                            <p class="id-card-post m-0 ">Founder, President, Sinhgad Institutes.</p>
                                        </div>
                                    </div>
                                </div>


                        </div>
                     </div>
            </div>  
        </div>
    </div>
</div>


{% endblock %}

