body, html{
    height: 90%;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15pt;
    overflow-x: hidden;
}
.wrapper{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 410px;
    margin-bottom: -400px;
}



.footer-wrapper{
    display: flex;
    position: static;
    width: 100%;
    align-self: bottom;
   
}
