.footer{
    color: white;
}


.footer-logo{
    color: white;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
    padding-top: 5%;
    margin: 0px;
}

.footer-logo-img{
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer-logo-img img{
    display: flex;
    width: 100px;
    height: 100px;
}

@media (max-width: 600px) {
    .footer-logo-img img{
        display: flex;
        width: 60px;
        height: 50px;
    }
}

.footer-logo-text{
    padding-left: 2%;
    display: flex;
    height: 100px;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#secondary-logo-text{
    padding: 0px;
    font-weight: 300;
    font-size: min(70%,max(2vh,2vw));
}

#primary-logo-text{
    font-weight: 500;
    font-size: min(90%,max(2.5vh,2.5vw));
}
.footer-slogan{
    padding-top: 10%;
    padding-bottom: 2%;
    padding-right: 20%;
    padding-left: 0px;
    color: lightgray;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: lighter;
}

.social{
    display: flex;
    flex-direction: row;
}

.social a{
    padding-right: 3px;
}

.footer-social-icon{
    height: 30px;
    width: 30px;
}

.icon-white{
    color: white;
}

.divider{
    height: 0.3px;
    width: 100%;
}

.footer-top-right{
    justify-content: center;
    padding-top: 5% ;
    
}

.footer-menu-item{
    text-decoration: none;
    color: lightgray;
    font-size: 75%;

}

.footer-menu-item:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer-menu-title{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 75%;
    padding-bottom: 10px;
}

.footer-bottom{
    display: flex;
    color: lightgray;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px;
}