
body{
    font-family: arial, "Times New Roman",Helvetica, Verdana, "Noto Sans", sans-serif;
}

.push{
    height: 10vw;
    background-color: red;

}
   
/* jumbotron */
.myjumbotron {
    margin-top: 5%;
    max-height: 700px;
    background-color:white;
    z-index: 0;
}

.jumbotron-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-logo img{
    height: auto;
    width: 100%;
}
.jumbotron-title1 {
    font-weight: 400;
    font-size: max(min(1.4vw, 1.4em), 30%);
}
.jumbotron-title2 {
    font-weight: 700;
    font-size: max(min(2.6vw, 1.8em), 50%);

}
.jumbotron-title3 {
    font-weight: 600;
    font-size: max(min(2.1vw,1.6em), 40%);
}

.jumbotron-title4 {
    font-weight: 600;
    font-size: max(min(1.6vw,1.2em), 30%);
}

.jumbotron-banner-title {
    margin-top: 5%;
    font-weight: 700;
    font-size: max(min(2.8vw, 2em), 70%);
}

.title-casing{
    padding-top: 1%; 
    padding-bottom: 1%; 
    border-radius: 10px;
}

/* event-banner */
.banner-heading{
    font-weight: bold; font-size: min( max(2.8vh,2.8vw), 200%);
    padding: 4%;
    padding-bottom: 0px ;
}

.banner-title{
    font-size: min(max(2vh,2vw), 30pt) ;
    padding-bottom: 4%;
    padding-top: 4%;
}

.banner-info-text{
    padding : 4%;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 100%;
}

.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


.banner-img img{
    align-self: center;
}

.carousel-control-prev:hover{
    background-image: linear-gradient(to left, #f1f1f1, rgb(122, 122, 122));
}
.carousel-control-next:hover{
    background-image: linear-gradient(to right, #f1f1f1, rgb(122, 122, 122));
}

@media (max-width: 576px) {
    #carousel {
        position: fixed;
      visibility: hidden;
    }  

}

@media (min-width: 576px) {
    #event-banner {
        position: fixed;
      visibility: hidden;
    }  

    #keyspeaker-mobile{
        position: fixed;
        visibility: hidden;
    }


}
/* center pannel */

.center-panel{
    padding: 3%;
}
.information-panel{
    padding : 0px 2%;
    margin: 0px;
   
}




.lead{
    font-size: min(max(2vh,2vw), 90%);
    word-spacing: 0.8vh;
}


/* side panel */

.side-panel{
    padding: 3% 2%;
    color: white;
}

.card{
    margin-top : 20px;
    border-color: #4285F4;
}
.card-heading{
    height:50px;
    justify-content: center;
}

.card-body{
    min-width: 100%;
    width: 100%;
    max-width: 500px;
    padding: 2%;
  
}

.card-heading-text{
    padding: 10px;
}

/* id-card */


.id-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border: solid;
    border-color: lightgray;
    border-width: 0.1px;
    margin: 2%;
}

.id-card div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.id-card-img img{
    align-self: center;
    border-radius: 100px;
}

.id-card-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.id-card-name{
   font-size: min( max(2.4vh,2.4vw), 85%);
    font-weight: 600;
    align-self: flex-start;
}

.id-card-post{
    font-size: min( max(1.8vh,1.8vw), 60%);
     font-weight: 200;
     align-self: flex-start;
     color: gray;
     font-style : italic;
 }

#marquee{
    padding: 5%;
    color: black;
}

/* important dates */

.table{
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.table table{
    align-self: center;
}

/* regisreation */

.fees-table{
    min-width: 70%;
    max-width: 90%;
}

.fees-div{
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-content: center;
}

.fees-div fieldset{
    padding:1%;
}

.registration-form-download-div{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
}

/* venue */

.map-canvas{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
}

/* contant us */

.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}