.navbar{
    color: white;
    height: 40%;
    max-height: 40%;
    overflow: hidden;
}
.nav-link:hover{
    font-weight: bolder;
}

.navbar-toggler{
    padding: 0px;
    width: 40px;
}
.nav-link{
    font-size: 80%;
    font-weight: normal;
}

.navbar-brand{
    font-size: min(max(1.2vh, 1.2vw),80%);
    font-weight: bold;
}