.navbar{
    color: white;
    height: 40%;
    min-height: 6vh;

}
.nav-link:hover{
    font-weight: bolder;
}

.nav-link{
    font-size: 80%;
    font-weight: normal;
}

.navbar-brand{
    font-size: min(max(1.5vh, 1.5vw),100%);
    font-weight: bold;
}