
body{
    font-family: arial, "Times New Roman",Helvetica, Verdana, "Noto Sans", sans-serif;
}

.push{
    height: 10vw;
    background-color: red;

}
   
/* jumbotron */
.myjumbotron {
    margin-top: 5%;
    max-height: 700px;
    background-color:white;
}

.jumbotron-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-logo img{
    height: auto;
    width: 100%;
}
.jumbotron-title1 {
    font-weight: 400;
    font-size: max(min(1.4vw, 1.4em), 20%);
}
.jumbotron-title2 {
    font-weight: 700;
    font-size: max(min(2.6vw, 1.8em), 40%);

}
.jumbotron-title3 {
    font-weight: 600;
    font-size: max(min(2.1vw,1.6em), 30%);
}

.center-panel{
    padding: 3%;
}
.information-panel{
    padding : 0px 2%;
    margin: 0px;
   
}

.legend{
    font-size: min(max(2vh,2vw), 30pt) ;
    width: auto;
    padding: 5%;
}

.fieldset-container{
    width: 100%;
    height: auto;
    min-height: 300px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #4285F4;
    border-radius: 5px;
    padding: 5%;
}

.lead{
    font-size: min(max(2vh,2vw), 90%);
    word-spacing: 0.8vh;
}


/* side panel */

.side-panel{
    padding: 10px 2%;
    color: white;
}

.card{
    margin-top : 20px;
    border-color: #4285F4;
}
.card-heading{
    height:50px;
    justify-content: center;
}

.card-body{
    min-height: 200px;
    max-width: 500px;
}

.card-heading-text{
    padding: 10px;
}

.contact-us{
    width: 60%;
    padding: 1%;
}